# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled executable
/nael
/Debug
/thirdparty

#VSProjectFiles
*.vcxproj
*.filters
*.opensdf
*.sdf
*.suo
*.sln

#LOG
*.log
*.tlog

*.lastbuildstate
*.unsuccessfulbuild
*.cache

# Cmake stuff
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake

# Vim stuff
**~
.*.swp
